<div class="c">
<div class="topic">
    <p>ROYAL ENFIELD CLASSIC 350</p>
</div>
<div class="es">
<p class="font">ENGINE SPECIFICATION</p>
Type  &nbsp; &nbsp; &nbsp;        Single cylinder, 4 stroke, twinspark, air-cooled<br>
Displacement  &nbsp; &nbsp; &nbsp;             346cc<br>
Bore x stroke  &nbsp; &nbsp; &nbsp;            70 mm x 90 mm<br>
Compression ratio &nbsp; &nbsp; &nbsp;         8.5 : 1<br>
Maximum power  &nbsp; &nbsp; &nbsp;            19.8 bhp @ 5250 rpm<br>
Maximum torque &nbsp; &nbsp; &nbsp;            28 Nm @ 4000 rpm<br>
Ignition system&nbsp; &nbsp; &nbsp;            Transistorised coil ignition<br>
Clutch   &nbsp; &nbsp; &nbsp;                  Wet, multi-plate<br>
Gearbox   &nbsp; &nbsp; &nbsp;                 5 Speed constant mesh<br>
Lubrication &nbsp; &nbsp; &nbsp;               Wet sump<br>
Engine oil &nbsp; &nbsp; &nbsp;                15 W 50 API, SL grade & above, JASO MA 2<br>
Fuel supply&nbsp; &nbsp; &nbsp;                29 mm, constant vacuum carburettor<br>
Air cleaner &nbsp; &nbsp; &nbsp;               Paper element<br>
Engine start   &nbsp; &nbsp; &nbsp;            Electric/kick <br> 
<div class="bt">
    <p class="font">BRAKES & TYRES</p>  
Tyres front    &nbsp; &nbsp; &nbsp;            90/90 - 19<br> 
Tyres rear   &nbsp; &nbsp; &nbsp;              110/90 - 18<br> 
Brakes front  &nbsp; &nbsp; &nbsp;             280 mm disc, 2-piston caliper<br> 
Brakes rear  &nbsp; &nbsp; &nbsp;              240 mm disc, single piston caliper<br>  
</div>
</div>
</div>
<div class="an">
        <div class="ga">
                <p>GALLERY</p>
                </div>
    <div class="row">
        <div class="column">
          <img src="../../assets/rec3505.jpg" height="300px" width="400px" style="width:100%">
        </div>
        <div class="column">
          <img src="../../assets/rec3501.jpg"  height="300px" width="400px" style="width:100%">
        </div>
        <div class="column">
          <img src="../../assets/rec3502.jpg"height="300px" width="400px" style="width:100%">
        </div>
        <div class="column">
            <img src="../../assets/rec3503.jpg" height="300px" width="400px"style="width:100%">
          </div>
          <div class="column">
            <img src="../../assets/rec3504.jpg" height="300px" width="400px"style="width:100%">
          </div>
      </div>
</div>
<div class="book">
    <div class="bg-img">
      <div class="box">
          <h1>Booking</h1>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <a routerLink='/booking'><button class="btn">Book</button></a>
        </div>
      </div>
</div>
