<div class="dash">
     
    <div class="fpadd">
      <div class="form group py-6">
    
        <label style="color:floralwhite" class="py-6">USER NAME:</label><input type="text" form control name="name"class="form control">
             <br> <label style="color:floralwhite">CAR</label><input type="checkbox">
                  <label style="color:floralwhite">BIKE</label> <input type="checkbox">
                  <label style="color:floralwhite">CYCLE</label><input type="checkbox"><br>
                  <a routerLink='/cycle'><button class="btn btn-sm btn-danger">video</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a routerLink='/image'><button class="btn btn-sm btn-danger">Pitures</button></a>
       </div>
   
    </div>
  </div>