<div class="loc">
    <div class="row">
            <div class="column">
                    <p><b>Royal Enfield Showroom</b><br>
                        G 19 Near Wawin Junction, 
                        Jeswant Nagar Extension,
                         Jeswant Nagar, Mogappair West, 
                         Ambattur Industrial Estate,
                         Chennai, Tamil Nadu 600058</p>
                        
            </div>
            <div class="column">
                    <p> 
                <b> Royal Enfield Showroom</b><br>
                    AF 40 to 45, 2195/2196,
                    4th Avenue Block 88,
                    Block Y, Shanthi Colony,
                    Anna Nagar,
                    Chennai, Tamil Nadu 600040
             </p>
            </div>
            <div class="column">
                    <p>
                 
                            <b> Royal Enfield Showroom</b><br>
                                shop no 29, 13,
                                 Medavakkam Tank Rd, 
                                 Thiruvalluvar Nagar,
                                Nammalwarpet,
                                Aynavaram,
                                Chennai, Tamil Nadu 600023
                         
                     </p>
            </div>
            <div class="column">
                    <p>
                 
                            <b> Royal Enfield Showroom</b><br>
                                Shop No 14, 
                                Tamabaram Sanitorium, 
                                Great Southern Trunk Rd, 
                                Apparao Colony, Sundarambal Nagar, 
                                Chennai, Tamil Nadu 600047
                         
                     </p>
              </div>
              <div class="column">
                    <p>
                            <b>Royal Enfield Showroom </b><br>
                                   New No 9, Old No 3 Devi Kripa, 
                                   Besant Ave Rd, 
                                   Theosophical Society, Besant Nagar, 
                                   Chennai, Tamil Nadu 600020
                        </p>
              </div>
              <div class="column">
                    <p>
                            <b>Royal Enfield Showroom</b><br>
                            No 298, 1, Inner Ring Rd, 
                            Ashok Nagar, Netaji Nagar, 
                            West Jafferkhanpet, 
                            Chennai, Tamil Nadu 600083
                     </p>
                </div>
    </div> 
          <div>
            <section>
             <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d155142.30522704124!2d80.17255635532734!3d13.028772235882615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sroyal%20enfield%20showroom!5e0!3m2!1sen!2sin!4v1568730354741!5m2!1sen!2sin" width="1350" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </section>
          </div>
</div>