<div class="re">
    <h1><b>Royal Enfield models</b></h1>
        <div class="an">
          <div class="co">
              <img src="../../assets/c350.jpg" style="width:100%;">
              <div class="c">
                <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="con">
              <img src="../../assets/b350.webp" style="width:100%;">
              <div class="co">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="cont">
              <img src="../../assets/cs.jpg" style="width:100%;">
              <div class="con">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="conta">
              <img src="../../assets/tb350x.jpg" style="width:100%;">
              <div class="cont">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="contai">
              <img src="../../assets/gmg.jpg" style="width:100%;">
              <div class="conte">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="contain">
              <img src="../../assets/cs.jpg" style="width:100%;">
              <div class="conten">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="containe">
              <img src="../../assets/intercep650.jpg" style="width:100%;">
              <div class="content">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="container">
              <img src="../../assets/cgt650.jpg" style="width:100%;">
              <div class="content1">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
          <div class="container1">
              <img src="../../assets/hima.jpg" style="width:100%;">
              <div class="content2">
                  <a routerLink='/rec350'>MORE INFO -->></a>
              </div>
          </div>
        </div>
      </div>
      