<div class="up">

    <div class="parallax"></div>
    
    <div style="height:400px;background-color:rgb(177, 162, 162);">
            1891<br>
            In November 1891, entrepreneurs Bob Walker Smith and Albert Eadie buy George Townsend & Co. of Hunt End, Redditch. Townsend’s is a well-respected needle manufacturer of almost 50 years standing which has recently begun manufacturing bicycles.<br>
            
            1893<br>
            The duo win a contract to supply precision parts to the Royal Small Arms Factory of Enfield, Middlesex. To celebrate this prestigious order, they rename their undertaking the Enfield Manufacturing Company Ltd. and call their first Bob Walker Smith designed bicycle, the Enfield. The following year, their bicycles are renamed Royal Enfields and the trademark ‘Made Like A Gun’ is introduced.
            
            1898<br>
            Bob Walker Smith designs the company’s first motorised vehicle. Known as a quadricycle, it is built around two sturdy bicycle frames and uses a proprietary 1 1/2 hp De Dion engine. The company finalises its trading name as The Enfield Cycle Co. Ltd., a name it is to use for the following 70 years.<br>
            
            1900<br>
            Royal Enfield delves into motorsport when one of its quadricycles enters the inaugural 1000 Mile Trial. Following a torturous cross-country route from London to Edinburgh and back, the event does much to convince the British public of the viability of motorised transport.<br>
            
            1901<br>
            The first Royal Enfield motorcycle is produced. Designed by Bob Walker Smith and Frenchman Jules Gotiet, it has a 1 1/2 hp Minerva engine mounted in front of the steering head. The rear wheel is driven by a long rawhide belt.<br>
    </div>
  </div>
  <div class="up"><p><b>Real Power of Royal Enfield</b></p>

    <div class="parallax1"></div>
    
    <div style="height:400px;background-color:rgb(177, 162, 162);">
            2012<br>
            Royal Enfield launches its first highway cruiser, the all-black Thunderbird 500. Work on the new Oragadam factory continues briskly while the Tiruvottiyur plant sets a new production record to meet 113,000 motorcycle sales.<br>
     
            2013<br>
            Manufacturing commences at Oragadam, Tamil Nadu. This state-of-art factory, which includes a robotic paint facility, will be the nucleus of Royal Enfield’s future global ambitions.<br>

            2013<br>
            Forty-eight years after developing its first production café racer, Royal Enfield rolls out the all-new Continental GT. Featuring a cradle frame designed by Harris Performance and a 535cc UCE engine, this new café racer becomes the starting point for numerous custom builds.<br>
  
            2014<br>
            Royal Enfield introduces a new retail experience in India with the opening of the first-of-its-kind exclusive gear store at Khan Market, New Delhi.<br>

            2015<br>
            The company acquires Harris Performance, a renowned British motorcycle design and fabrication firm, to enhance its engineering and product design capabilities.<br>
    
            2015<br>
            Royal Enfield North America is established. With headquarters in Milwaukee, Wisconsin, it’s the company’s first direct distribution subsidiary outside of India.<br>

            2016<br>
            Royal Enfield debuts the Himalayan, its first adventure motorcycle. With an all-new 411cc SOHC engine and long reach suspension, it’s designed to give adventurous riders the right tool for all roads and no roads.<br>
    </div>
  </div>
  