<div class="in">
<div class="log">
  <div class="formgroup">
      <div class="row">
        <div class="col col-lg-20">
          <div class="row">
            <div class="col col-lg-3">
              <div class="padd">
                <label style="color:chartreuse;">NAME</label> <input type="text" form control name="name1" class="form control">
                <label style="color:chartreuse;">USERID</label><input type="text" form control name="name1" class="form control">
                <label style="color:chartreuse;">EMAILID</label><input type="text" form control name="name1" class="form control">
                <label style="color:chartreuse;">PASSWORD</label><input type="PASSWORD" form control name="name1" class="form control">
                <a routerLink='/new'><button (click)="add1()" class="btn btn-sm btn-danger">Submit</button></a>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>