<div class="cy">
    <marquee direction="right" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()">
    <video width="650" height="250" controls>
        <source src="../../assets/cycle.mp4" type="video/mp4">
        <source src="../../assets/cycle.mp4" type="video/mp4">
      </video></marquee>
      <br>
      <marquee direction="left" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()">
      <video width="650" height="250" controls>
          <source src="../../assets/bike.mp4" type="video/mp4">
          <source src="../../assets/bike.mp4" type="video/mp4">
        </video>
      </marquee>
        <marquee direction="right" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()">
            <video width="550" height="250" controls>
              <source src="../../assets/car.mp4" type="video/mp4">
              <source src="../../assets/car.mp4" type="video/mp4">
            </video>
        </marquee>
</div>