<div class="fot">
        <div class="row">
                <div class="column">
                  <h3><b>Automobile</b></h3>
                  <a routerLink='/re'>Royal Enfield</a><br>
                  <a routerLink='/re'>Hero</a><br>
                  <a routerLink='/yamaha'>Yamaha</a><br>
                  <a routerLink='/re'>Honda</a><br>
                  <a routerLink='/re'>Bajaj</a><br>
                  <a routerLink='/re'>Mahendra</a><br>
                  <a routerLink='/re'>TVS</a><br>
                  <a routerLink='/update'>Kawaski</a><br>
                  <a routerLink='/re'>Moto sport</a><br>
                  <a routerLink='/re'>Suzuki</a><br>
                  <a routerLink='/re'>Harley Davidson</a><br>
                </div>
                <div class="column">
                        <h3><b>Social</b></h3>
                        <a routerLink='/cycle'>Video</a><br>
                        <a routerLink='/image'>Pictures</a><br>
                </div>
                <div class="column">
                        <h3><b>About us</b></h3>
                        <a routerLink='/history'>History</a><br>
                </div>
                <div class="column">
                        <h3><b>News & Media</b></h3>
                        <a routerLink='/news'>News</a><br>
                        <a routerLink='/history'>Press Release</a><br>
                  </div>
              </div>
</div>