.topic{
    text-align: center;
    font-family:Algerian;
    font-size: 50px;
    font-style: italic;
    color: crimson;
}
.es{
text-align: left;

}
.font{
    font-family: Curlz MT;
    font-size: 50px;
}
.f{
    text-align: left;   
}