<div class="sign">
    <div class="pad">
      <div class="formgroup">
        <div class="row">
          <div class="col col-lg-12">
            <div class="row">
              <div class="col col-lg-6">
                  <label style="color:cadetblue;">BIKEMODEL</label> <input type="text" form Control Name="name1" class="form control">
                  <label style="color:cadetblue;">PETROLCAPACITY </label><input type="text" form Control Name="name1" class="form control">
                   <label style="color:cadetblue;">ENGINETYPE</label><input type="text" form Control Name="name1" class="form control">
                   <label style="color:cadetblue;">COLOUR </label><input type="text" form Control Name="name1" class="form control">
                   <a routerLink='/submit'><button (click)="add3()" class="btn btn-sm btn-danger">UPDATE</button></a>
                   <a routerLink='/user'><button (click)="add2()" class="btn btn-sm btn-danger">NEW USER</button></a>
                 </div>
              </div>
            </div>
          </div>
       </div>
    </div>
  </div>