<div class="use">
  <div class="user">
    <div class="formgroup">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
                  <label style="color:chartreuse;">Name</label> <input type="text" form control name="name1" class="form control">
                  <label style="color:chartreuse;">Userid</label><input type="text" form control name="name2" class="form control">
                  <label style="color:chartreuse;">Emailid</label><input type="text" form control name="name3" class="form control">
                  <label style="color:chartreuse;">Create_password</label><input type="PASSWORD" form control name="name4" class="form control">
                  <label style="color:chartreuse;">renter_password</label><input type="PASSWORD" form control name="name5" class="form control">
                  <input type="radio"><label style="color:chartreuse;">Above_350cc</label>
                  <input type="radio"><label style="color:chartreuse;">Below_350cc</label>
                  <a routerLink='/new'><button (click)="add1()" class="btn btn-sm btn-danger">Submit</button></a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>