<div class="logo">
    <img src="../../assets/logo2.png" height="100px" width="250px" >
</div>
<div class= "top">
    <div class="form group"> 
          <a routerLink=''><button class="button"><span>Home</span></button></a>
          <a routerLink='/user'><button class="button"><span>signin</span></button></a>
          <a routerLink='/login'><button class="button"><span>Login</span></button></a>
          <a routerLink='/map'><button class="button"><span>Locate Us</span></button></a>
          <a routerLink='/rate'><button class="button"><span>Feed Back</span></button></a>
  </div>
</div>

