<div class="boo">
        <div class="img">
          <div class="box">
              <h1>Booking</h1>
          
              <label for="Name"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="name" required>
          
              <label for="Model"><b>Model Name</b></label>
              <input type="text" placeholder="Enter Model" name="mname" required>
             
              <label for="Name"><b>Quantity</b></label>
              <input type="number" placeholder="Enter Quantity" name="quant" required>
          
              <label for="Model"><b>Color</b></label>
              <input type="text" placeholder="Enter color" name="color" required>

              <a routerLink='/payment'><button class="btn">Payment</button></a>
            </div>
          </div>
    </div>