<div class="vd">
    <video autoplay muted loop id="myVideo">
      <source src="../../assets/revideo.mp4"  type="video/mp4">
    </video>
    </div>
    <div class="his"> 
         <h2>Royal Enfield History</h2>
         <p id="text"> <a routerLink='/history'><b>Explore ></b></a></p>
      </div>
      <div class="loc"> 
          <h2>Royal Enfield Location</h2>
          <p id="text"> <a routerLink='/reloc'><b>Locate us ></b></a></p>
       </div>
       <div class="mod"> 
          <h2>Royal Enfield Models</h2>
          <p id="text"> <a routerLink='/rebrand'><b>Know more -></b></a></p>
       </div>




